body {
    margin: 8px;
    display: block;
    text-align: center;
    background-image: url("images/arcade_background.png");
}

header, main, footer {
    margin: 0px 60px;
    background-color: hsla(0, 4%, 82%, 0.88);
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 58px;
    font: georgia;
    text-shadow: 2px 2px rgb(12, 161, 187);
}

p {
    padding: 20px;
    margin: 20px 120px;
    color: rgb(0, 0, 0);
    background-color: hsla(0, 4%, 82%, 0.966);
    border: 5px solid rgba(73, 246, 252, 0.808);
    border-radius: 10px;
    font: helvetica;
}

#mainHeading {
    padding-top: 20px;
    padding-bottom: 20px;
}

#mainPic {
    width: 800px;
    height: 475px;
    border-radius: 10px;
    border: 5px solid rgba(16, 160, 243, 0.808);
}

nav {
    margin: 0px 60px;
    padding: 8px;
    border: 5px solid rgba(238, 207, 32, 0.808); 
    border-radius: 12px;
}

.topTen {
    height: 90px;
    width: 90px;
    border: 3px solid rgba(255, 34, 218, 0.808);
    border-radius: 57%;
}

article {
    padding: 0px 0px 40px;
    margin-top: -20px;
}

details summary {

    list-style-type: '▶️';

}

details[open] summary {

    list-style-type: '🔽';

}

details {
    padding-bottom: 40px;
}

summary {
    padding: 6px;
    color: rgb(0, 0, 0);
    background-color: hsl(0, 0%, 76%);
    margin: 10px 510px 0px;
    width: 110px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 1px 1px 2px #000000;
    border-radius: 4px;
}

#numberText {
    font-size: 20px;
    padding: 8px;
    color: white;
    background-color: blue;
}

#gameName {
    margin-top: 40px;
    font-size: 65px;
    text-decoration: underline;
    color:rgb(3, 22, 110);
    text-shadow: 2px 2px rgb(255, 34, 218);
}

#gameDetails {
    background-color: hsla(0, 4%, 82%, 0.966);
    list-style-type: none;
    padding: 20px;
    margin: 20px 350px -15px;
    border: 5px solid rgba(56, 223, 83, 0.808);
    border-radius: 10px;
    color: rgb(14, 6, 126);
    font-weight: 605;
    font-size: 20px
    
}

#gameMainPic {
    margin-top: -40px;
    height: 350px;
    width: 525px;
    border-radius: 25px;
    border: 5px solid rgba(51, 206, 233, 0.849);
}

#gamePics {
    height: 200px;
    width: 250px;
    border-radius: 10px;
    border: 5px solid rgba(238, 207, 32, 0.808);
}

p.funParagraph {

}

#logo {
    height: 90px; 
    width: 100px;
    border-radius: 70%;
}

footer {
    color:rgb(30, 21, 158);
    text-shadow: 1px 1px black;
    font-weight: 1000;
    font-size: 25px;
    padding: 20px;
    border-top: 5px double black;
}